.input-wrapper {
  width: 100%;
  height: 50px;
  border: none;
  border-radius: 4px;
  padding: 0 15px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  background-color: white;
  display: flex;
  align-items: center;
}

input {
  background-color: transparent;
  border: none;
  height: 100%;
  font-size: 1.25rem;
  width: 100%;
  margin-left: 5px;
}

input:focus {
  outline: none;
}

#search-icon {
  color: royalblue;
}
input::placeholder {
  font-size: 12px;
}
